@model Ogrenci
@{
    ViewData["Title"] = "Create";
}
<h2>Öğrenci Ekle</h2>
<hr />
<form asp-asp-controller="Ogrenci" asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="OgrenciAd" class="form-label">Öğrenci Adı</label>
        <input asp-for="OgrenciAd" class="form-control"/>
    </div>
    <div class="mb-3">
        <label asp-for="OgrenciSoyad" class="form-label">Öğrenci Soyadı</label>
        <input asp-for="OgrenciSoyad" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Eposta" class="form-label">E-posta Adresi</label>
        <input asp-for="Eposta" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="TelefonNumarasi" class="form-label">Telefon Numarası</label>
        <input asp-for="TelefonNumarasi" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Kaydet</button>
</form>

