@model Ogrenci
@{
    ViewData["Title"] = "Create";
}
<h2>Öğrenci Güncelleme</h2>
<hr />
<div class="row">
    <div class="col-8">
        <form asp-asp-controller="Ogrenci" asp-action="Edit" method="post">
            <input type="hidden" asp-for="OgrenciId" />
            <div class="mb-3">
                <label asp-for="OgrenciAd" class="form-label">Öğrenci Adı</label>
                <input asp-for="OgrenciAd" class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="OgrenciSoyad" class="form-label">Öğrenci Soyadı</label>
                <input asp-for="OgrenciSoyad" class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="Eposta" class="form-label">E-posta Adresi</label>
                <input asp-for="Eposta" class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="TelefonNumarasi" class="form-label">Telefon Numarası</label>
                <input asp-for="TelefonNumarasi" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary">Kaydet</button>
        </form>
    </div>
    <div class="col-4">
        <h4>Kurslar</h4>
        <hr />
        <ul class="list-group" style="margin-left: 20px;">
            @foreach (var item in Model.KursKayitları)
            {
                <li>@item.Kurs.Baslik</li>
            }
        </ul>
    </div>
</div>

