@model Ogretmen
@{
    ViewData["Title"] = "Create";
}
<h2>Öğretmen Güncelleme</h2>
<hr />
<div class="row">
    <div class="col-12">
        <form asp-controller="Ogretmen" asp-action="Edit" method="post">
            <input type="hidden" asp-for="OgretmenId" />
            <div class="mb-3">
                <label asp-for="OgretmenAd" class="form-label">Öğretmen Adı</label>
                <input asp-for="OgretmenAd" class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="OgretmenSoyad" class="form-label">Öğretmen Soyadı</label>
                <input asp-for="OgretmenSoyad" class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="OgretmenEposta" class="form-label">E-posta Adresi</label>
                <input asp-for="OgretmenEposta" class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="OgretmenTelefon" class="form-label">Telefon Numarası</label>
                <input asp-for="OgretmenTelefon" class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="BaşlamaTarihi" class="form-label">Başlama Tarihi</label>
                <input asp-for="BaşlamaTarihi" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary">Kaydet</button>
        </form>
    </div>
    @* <div class="col-4">
        <h4>Kurslar</h4>
        <hr />
        <ul class="list-group" style="margin-left: 20px;">
            @foreach (var item in model.kurskayitları)
            {
                <li>@item.kurs.baslik</li>
            }
        </ul>
    </div> *@
</div>

